* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color:black;
  background-color: white;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}
.hero{
  background-image: url("https://images.unsplash.com/photo-1557804506-669a67965ba0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80");
}

.text-gray{
  color: rgb(226, 232, 240);
}
.text-blue{
  color: rgb(51, 65, 85);
}